* {
	/* color: white; */
	box-sizing: border-box;
	font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

:root {
	--primary: #1c74d8;
}

html {
	font-size: 18px;
}
body {
	padding: 0;
	margin: 0;
}

.paper-background {
	background-image: url("Images/paper-background.jpg")
}

header {
	text-align: center;
	margin: 0;
	margin-bottom: 1rem;
	padding: 1rem;

	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;

	/* padding-top: 4rem;
	padding-bottom: 4rem;
	margin-bottom: 4rem;

	border-image: url('https: //www.w3schools.com/css/border.png') 80 80 80 repeat; */

	/* background-color: rgba(255, 255, 255); */
	
}

header p {
	margin-top: 4rem;
}

nav {
	display: flex;
	justify-content: space-between;
	max-width: 80rem;
	width: 100%;
	padding: 1rem 2rem;
}

.nav-links {
	display: flex;
	justify-content: flex-end;
	gap: 2rem;
}

main {
	padding: 1.5rem;
	padding-top: 0;
	margin: auto;
	max-width: 80rem;
}

.socials-rack {
	display: flex;
	gap: 1rem;
	margin-top: 1rem;
}

.socials-rack a {
	font-size: 1.5rem;
}

.inline-link {
	text-decoration: none;  /* Remove underline */
	color: #007BFF;         /* Link color */
	font-weight: bold;      /* Bold the text */
  }
  
.inline-link:hover {
	color: #0056b3;         /* Darker color when hovered */
	text-decoration: underline;  /* Add underline on hover */
	cursor: pointer;
  }
  

header h1 {
	margin: 0;

	display: block;
	font-size: 6rem;
	font-family: Verdana, Geneva, Tahoma, sans-serif
}

header div div b {
	color: var(--primary);
	font-size: 1.5rem;
}

@media (max-width: 1000px) {
	header h1 {
		font-size: 3rem;
	}
}

a {
	all: unset;
	display: inline;
}

p {
	margin: 0;
}

.lab-card-grid {
	margin-top: 1rem;
	display: flex;
	gap: 2rem;
	flex-wrap: wrap;
	justify-content: center;
}

lab-card {
	background-color: white;

	position: relative;

	display: flex;
	flex-direction: column;

	justify-content: space-between;

	width: 45%;

	border-radius: 1rem;
	padding: 1rem;

	transition: all 0.2s ease-out;

	box-shadow: 3px 6px 12px 0px rgba(0, 0, 0, 0.35);
		-webkit-box-shadow: 3px 6px 12px 0px rgba(0, 0, 0, 0.35);
		-moz-box-shadow: 3px 6px 12px 0px rgba(0, 0, 0, 0.35);

	overflow: hidden;
}

@media (max-width: 800px) {
	lab-card {
		width: 100%;
	}
}

lab-card:hover {
	box-shadow: 3px 6px 12px 4px rgba(0, 0, 0, 0.41);
		-webkit-box-shadow: 3px 6px 12px 4px rgba(0, 0, 0, 0.41);
		-moz-box-shadow: 3px 6px 12px 4px rgba(0, 0, 0, 0.41);
}

.lab-number {
	position: absolute;
	text-align: center;
	line-height: 5rem;
	font-size: 2rem;
	font-weight: bold;
	/* top: -0.4rem;
	left: -0.8rem; */
	top: -1rem;
	left: -1rem;
	width: 5rem;
	height: 5rem;

	border-bottom-right-radius: 50%;
	/* border-radius: 50%; */
	
	color: white;
	background-color: var(--primary);
	/* color: black; */
	/* background-color: white; */
}

.lab-number div {
	margin-left: 0.5rem;
}

lab-card::part(h1) {
	font-size: 1.5rem;
	margin: 0;
	margin-left: 3.5rem;
	margin-bottom: 0.6rem;
	text-align: center;
	min-height: 3.5rem;
}

.button-box {
	margin-top: 1rem;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	gap: 0.8rem;
}

@media (max-width: 500px) {
	.button-box {
		flex-direction: column;
	}
}

.fancy-button {
	/* font-family: Arial, Helvetica, sans-serif; */
	/* text-transform: uppercase; */

	/* height: 2.5rem; */
	/* width: 200px; */
	flex-grow: 1;
	text-align: center;
	padding: 0.8rem;
	padding-left: 1.2rem;
	padding-right: 1.2rem;
	font-size: 1rem;
	font-weight: 600;
	color: rgb(255, 255, 255);
	cursor: pointer;
	border: medium;
	border-radius: 8px;

	background-color: var(--primary);
	/* background-image: linear-gradient(90deg, rgb(35, 162, 221), #ffffff, #1c74d8); */
	/* box-shadow: rgb(0, 0, 0, 0.4) 0px 4px 15px 3px; */

	transition: 0.2s ease-in-out;
}

.fancy-button:hover {
	/* margin-left: 65px; */
	transition: 0.2s ease-in-out;
	background-position: 10% 0px;
}

.description-box {
	display: flex;
	flex-direction: row;
	max-width: 60rem;
	margin-top: 3rem;
	gap: 2rem;
}

@media (max-width: 800px) {
	.description-box {
		flex-direction: column;
	}
}

.description-box div {
	flex: 1 1 0
}

.icon-box {
	position: absolute;
	right: 2rem;
	top: 2rem;
	display: flex;
	flex-direction: column;
	gap: .5rem;
}

.icon-link {
	font-size: 32px;
	cursor: pointer;
	transition: all 0.15s ease-out;
}

.icon-link:hover {
	transition: all 0.15s ease-out;
	transform: scale(1.2);
}

/* Nav Dropdown */

.nav-dropdown {
	float: left;
	overflow: hidden;
}

.nav-dropdown button {
	font-size: 16px;
	border: none;
	outline: none;
	/* padding: 14px 16px; */
	background-color: inherit;
	font-family: inherit;
	margin: 0;
}

/* .navbar a:hover,
.nav-dropdown:hover .dropbtn {
	background-color: red;
} */

.nav-dropdown-content {
	display: none;
	position: absolute;
	background-color: #f9f9f9;
	min-width: 160px;
	box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
	z-index: 1;
}

.nav-dropdown-content a {
	float: none;
	color: black;
	padding: 12px 16px;
	text-decoration: none;
	display: block;
	text-align: left;
}

.nav-dropdown-content a:hover {
	background-color: #ddd;
}

.nav-dropdown:hover .nav-dropdown-content {
	display: block;
}